body{
    background-color: white;
}

header{
    margin: 0px;
}

h1{
    font-family: sans-serif;
}

.naslov{
    color: black;
    text-align: center;
}

.naslov-politika, .naslov-sport{
    margin: auto;
    text-align: center;
}

.naslov-sport{
    position:relative;  
    top: 40px;
}

a:hover{
    text-decoration: underline;
}

.main {
    margin-top: 40px;
    background-color: #E8E8E8;
    padding: 40px;
}

.vijesti-politika, .vijesti-sport{
    margin: auto;
    width: 90%;
    background-color: white;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
} 

.vijesti-sport{
    margin-top: 40px;
}

.vijesti{
    background-color: lavender;
    margin: auto;
    width: 95%;
    height: 320px;
    /* float: left; */
    padding: 2%;
    word-wrap: break-word;
    box-shadow: 10px 10px 8px #888888;
    text-align: center;
    /* border: 1px solid black; */
} 

.vijesti2{
    margin: auto;
    width: 100%;
    height: 340px;
    /* float: left; */
    padding: 1%; 
    word-wrap: break-word;
    /* box-shadow: 10px 10px 8px #888888;  */
} 

.linkProcitajVise{
    color: black;
    font-size: medium;
    text-decoration: none;
}

.slikeClanak{
    max-height: 100px;
    max-width: 100%;
    margin: auto;
}

.footer{
    width: 100%;
    text-align: center;
    bottom: 0px;
}

.slika{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 20px;
}

.slikeVijesti, .slikePreview, .slikeSave{
    max-height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    text-align: center;
    margin-bottom: 20px;
}

article{
    margin: auto;
    width: 90%;
    background-color: white;
    padding: 20px;
    padding-left: 5%;
    padding-right: 5%;
}

.bold-text{
    font-weight: bold;
}

.word-break{
    word-break: break-all;
}


